name: dbt CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test_and_run:
    name: Run dbt build
    runs-on: ubuntu-latest

    env:
      # On rend le secret disponible comme variable d'environnement
      DBT_GOOGLE_BIGQUERY_KEYFILE_JSON: ${{ secrets.D_GOOGLE_BIGQUERY_KEYFILE_JSON }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # CORRECTION 1 : On passe à Python 3.10 pour éviter les bugs de version
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      # CORRECTION 2 : L'étape Magique. On crée le fichier physique.
      - name: Create Credentials File
        run: echo "$DBT_GOOGLE_BIGQUERY_KEYFILE_JSON" > gh_keyfile.json

      - name: Install dbt
        run: pip install dbt-bigquery

      - name: Install dbt packages
        run: dbt deps

      - name: Run Seeds
        run: dbt seed --profiles-dir . --profile immorent

      - name: Run & Test Models
        run: dbt build --profiles-dir . --profile immorent