name: dbt CI/CD Pipeline

# 1. QUAND lancer le robot ?
on:
  push:
    branches:
      - main

# 2. QUE doit faire le robot ?
jobs:
  test_and_run:
    name: Run dbt build
    runs-on: ubuntu-latest # Le robot utilise un Linux

    # On injecte les secrets dans l'environnement du robot
    env:
      DBT_GOOGLE_BIGQUERY_KEYFILE_JSON: ${{ secrets.D_GOOGLE_BIGQUERY_KEYFILE_JSON }}

    steps:
      # A. Récupérer ton code
      - name: Checkout code
        uses: actions/checkout@v3

      # B. Installer Python
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      # C. Installer dbt
      - name: Install dbt
        run: pip install dbt-bigquery

      # D. Installer les dépendances (si tu en avais)
      - name: Install dbt packages
        run: dbt deps

      # E. Lancer le Seed (charger les CSV)
      # On précise --profiles-dir . pour dire "Regarde le fichier ci_profiles.yml ici, pas ailleurs"
      - name: Run Seeds
        run: dbt seed --profiles-dir . --profile immorent

      # F. Lancer le Run + Test (dbt build fait les deux)
      - name: Run & Test Models
        run: dbt build --profiles-dir . --profile immorent